* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*Header*/
.header{
    overflow:hidden;
    background: #0038a7;
    padding: 20px 10px;
    position: fixed;
    z-index: 3;
    width: 99%;
}
.header a{
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
.header a:hover{
    background-color: rgb(255, 153, 0);
}
.header img{
    width: 10%;
}
.header-data{
    float: right;
}
/*media queries for header*/
@media screen and (max-width: 750px) {
    .header{
        position: sticky;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .header img{
        width:40%;
    }
    .header a{
        float: none;
        display: block;
        text-align: left;
    }
    .header-data{
        float: none;
    }
}






body{
    padding:0;
    margin: 0;
    background-image: url(./p4.webp);
    background-position: center;
    background-size: cover;
}
.intro{
    position: relative;
    width:100%;
}
/*main image with heading and paragraph*/
.intro img{
    width:100%;
    height:auto;
    filter: brightness(30%);
}
.intro h1{
    position: absolute;
    text-align: center;
    width:100%;
    top:20%;
    color: white;
    font-size: clamp(30px,10vw,400px);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.intro p {
    position: absolute;
    text-align: center;
    top: 55%;
    color: white;
    width:100%;
    font-size: clamp(30px,8vw,400px);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*event image and description*/
.eventcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    align-items: center;
    justify-content: center;
    gap:5%;
    padding-top: 3%;
}
.eventimg{
    width:30%;
}
.eventimg img{
    width:100%;
}
.eventtext{
    width:60%;
    text-align: left;
    color: white;
    font-size: clamp(20px,2.5vw,200px);
}
.eventrules{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    font-size: clamp(20px,3vw,200px);
    color:rgb(255, 153, 0);
    text-align: center;
}
.eventrules h2{
    text-align: center;
    width:100%;
    justify-content: center;
    align-items: center;
}
.meet{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:100%;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
}
.meetimg{
    width:40%;
   
}
/*animation*/
.meetimg img{
    width: 100%;
    animation: animate 3s linear infinite;
}

@keyframes animate{
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0px);
    }
}
.meetimg img{
    width:100%;
}
.meettext{
    width:60%;
    text-align: left;
    color: #ffffffb6;
    font-size: clamp(20px,3vw,200px);
    justify-content: center;
    text-align: center;
    padding-top: 5%;
}
@media(max-width:800px){
    .eventcontainer{
        flex-direction: column;
    }
    .eventimg{
        width:70%;
    }
    .eventtext{
        width:70%;
    }
    .eventrules{
        width:100%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}




/*Footer*/
.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
    padding-top: 3%;
    justify-content: center;
    align-items: center;
    padding-bottom: 3%;
}
.footer-left{
    width:40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:5%;
}
.footer-logo{
    float:left;
    width: 30%;

}
.footer-logo img{
    width: 100%;
    float:left;
}
.footer-left-text{
    width:60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
@media (max-width:800px){
    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-logo{
        width:80%;
    }
    .footer-left-text{
        padding-top: 10%;
        width: 100%;
        padding-bottom: 10%;
    }
}
.footer-icons-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 20%;
    justify-content: space-between;
    align-items: center;
}
.footer-icons{
    width:100%;
    height:auto;
}
.footer-icons img{
    width: 17%;
    height:auto;
}
@media (max-width:800px){
    .footer-icons-container{
        flex-direction: row;
        align-items: center;
        width: 100%;
        align-items: center;
        justify-content: center;
        
    }
    .footer-icons{
        width: 40%;
        justify-content: center;
        align-items: center;
       
    }
}
.footer-contacts{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:30%;
    padding-left: 5%;
}
.footer-contacts #email-link{
    text-decoration: none;
    color: rgb(255, 153, 0);
}
@media (max-width:800px){
    .footer-contacts{
        width:100%;
        padding-left: 0;
        justify-content: center;
        align-items: center;
        padding-top: 5%;
    }
}




